{% extends "user/index.html" %}
{% block content %}
<form method="post">
	<h3>Login Here</h3>
	{% csrf_token %} 
	<label for="username">Username</label>
	<input type="text" placeholder="Username" id="username" name="username" class="form-control" />

	<label for="password">Password</label>
	<input type="password" placeholder="Password" id="password" name="password" class="form-control"/>
	{% if messages %}
        <div class="login-message">
            {% for message in messages %}
                <p style="color: red;">{{ message }}</p>
            {% endfor %}
        </div>
    {% endif %}
	<button type="submit" value="Login">Log In</button>
	<div class="social" style="margin-bottom: 10px;">
	  <div class="go"><i class="fab fa-google"></i>  Google</div>
	  <div class="fb"><i class="fab fa-facebook"></i>  Facebook</div>
	</div> 
	<a href="{% url 'register' %}" >Create a account</a>
</form>
{% endblock content %}